@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/* Course CSS Document */

/* Import Master CSS Document */
@import url("/lms/core/css/base.css");
/* DO Not Touch the Master css document above */

/* Course CSS Document */

html {
}
 
body {
	/*background:#fff6e9;*/
	background: url(bgMain.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bgMain.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bgMain.jpg', sizingMethod='scale')";
zoom:1;	
	margin:	0px;
}

.content_9_of_12 {
	width: 74.54%;
}

#maincontent {
	background: #fff;
}

header {
	background:#b34069; /*28b6ad;*/
}

#headcontainer {
	background:#b34069;
}

#footercontainer {
	background:#b34069;
	color:#fff;	
}

#footercontainer a{
	color:#fff;
}

#fadedwhite {
	background:	 url(bgShadow.png) repeat-y;
	width:	985px;
}

#mdcmeMenu a{
	border: solid 1px #b34069;
}

#mdcmeMenu a:hover{
	background:#2c86c4;
	border: solid 1px #fff;
}

.courseLogo{
	background: url(../img/course_header.jpg) no-repeat;
	background-size: 100% 126px;
	height: 126px;
	margin: -10px 0 0 0;
	padding: 0;
}

.breadCrumb a {font-size:80%;}

h1, h2, h3, h4 {
	color: #b34069;
}

.headlineFirst {
	/*margin-top:10px;*/
}

input[type="button"], input[type="submit"], input[type="button"]:focus, input[type="submit"]:focus {
	background:#ff5c95;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background:#b34069;
}

.roundbutton {
	background:#ff5c95;
}

.roundbutton:hover {
	background: #b34069;
}

.MenuButton {
	background:#ff5c95;
}

.MenuButton:hover {
	background: #b34069;
}

.test {
	background:#33FFCC;	

}

.expertTitle {
	color:	#b34069;
	font-weight: bold;
	margin: 0 0 10px 0;

}

.htable {
	color: #28b6ad;
}

.popButton{
	color:#b34069;
}

.popButton:hover { 
	color : #2c86c4;
}

/* table styles */

#style-table-a th
{
	background: #9fd7e5;
	border-top: 2px solid #aabcfe;
	border-bottom: 2px solid #000;
	color: #000;
	text-align:left;
	font-size:14px;
}
#style-table-a td
{
	background: #fff6e9; 
	border-bottom: 2px solid #40afcb;
	color: #000;
	border-top: 2px solid #40afcb;
}
#style-table-a tr:hover td
{
	background: #cfebf2;
	color: #000;
}
.notbold {font-weight:normal;}


/* Emphasis Table ====================================*/


#one-column-emphasis tr:hover td {
	background-color: #cacaca;
}

/* Links ================================*/
a { 
	color : #b34069;
}

a:hover { 
	color : #2c86c4;
}

.menuDropdown {
z-index:100;
}

.menuDropdown a { 
color : #b34069;

text-decoration: none;
}

.menuDropdown a:hover { 
outline : 0;
color : #666;
text-decoration: underline;
}
.menuDropdown a.active {
color: #2c86c4;
}

.callout {
margin: 0px 25px 0px 55px;
background-color: rgb(194, 226, 229);
padding: 10px;
border: 3px groove #007060;
border-radius: 3px 10px 3px 10px;
-webkit-box-shadow: rgb(204, 204, 204) 5px 5px 10px;
}

